<div class="container" >
    <div class="row">
        <div class="col-md-9 col-md-offset-2 col-sm-11 col-sm-offset-1">
            <div class="panel panel-default ingrmeasurement__panel">
                <div class="panel-heading text-center">
                    Добавить покупку
                </div>
                <div class="panel-body text-center">
                   <div>
                       <form class="form-horizontal">
                           <div class="form-group">
                               <label for="name" class="col-sm-2 control-label">Название</label>
                               <div class="col-sm-10">
                                   <input type="text" ng-model="name" class="form-control" id="name" placeholder="Название">
                               </div>
                           </div>
                           <div class="form-group">
                               <label for="price" class="col-sm-2 control-label">Цена</label>
                               <div class="col-sm-10">
                                   <input type="number" step="0.01" ng-model="price" class="form-control" id="price" placeholder="Цена">
                               </div>
                           </div>
                           <div class="form-group">
                               <label for="amount" class="col-sm-2 control-label">Количество</label>
                               <div class="col-sm-10">
                                   <input type="number" ng-model="amount" class="form-control" id="amount" placeholder="Количество">
                               </div>
                           </div>
                           <div class="form-group">
                               <div class="text-center">
                                   <button type="button" ng-click="addProduct()" class="btn btn-primary">Добавить</button>
                               </div>
                           </div>
                       </form>
                   </div>
                </div>
            </div>
            <div class="panel panel-default ingrmeasurement__panel">
                <div class="panel-heading text-center">
                    Список покупок
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Название</th>
                            <th>Цена</th>
                            <th>Количество</th>
                            <th>Тип</th>
                            <th>Пользователь</th>
                            <th>Время</th>
                        </tr>
                        <tr ng-repeat="product in products | orderBy:'-date'">
                            <td>{{product.name}}</td>
                            <td>{{product.type == 'buy' ? '-'+product.price : product.price}}</td>
                            <td>{{product.amount}}</td>
                            <td>{{product.type == 'buy' ? 'Добавлено' : 'Продано'}}</td>
                            <td>{{product.userName}}</td>
                            <td>{{product.date | date:'h:mma'}}</td>
                        </tr>
                        <tr>
                            <td>Всего: </td>
                            <td>{{allIncome}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div