<div class="container">
    <div class="row">
        <p class="col-md-9 col-md-offset-2 col-sm-11 col-sm-offset-1">
            <button class="btn btn-success" ng-click="assignDish({type: 'food'},'add');">
                Добавить блюдо
            </button>
        </p>
    </div>
    <div class="row">
        <div class="col-md-9 col-md-offset-2 col-sm-11 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    Список блюд
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>
                                Название
                            </th>
                            <th>
                                Цена
                            </th>
                            <th>
                                Тип
                            </th>
                            <th>
                                Ингредиенты
                            </th>
                            <th>
                                Изменить
                            </th>
                            <th>
                                Удалить
                            </th>
                        </tr>
                        <tr ng-repeat="dish in dishes | orderBy:'-name':true">
                            <td>
                                {{dish.name}}
                            </td>
                            <td>
                                {{dish.price}}
                            </td>
                            <td>
                                {{dish.type}}
                            </td>
                            <td>
                                <ul ng-repeat="ingredient in dish.ingredients | orderBy:'-name':true">
                                    <li>{{ingredient.name + '(' + ingredient.dishIngredientList.amount + ')'}}</li>
                                </ul>
                            </td>
                            <td>
                                <button class="btn btn-primary"
                                        ng-click="assignDish(dish, 'edit');">
                                    Изменить
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-default"
                                        ng-click="deleteDish(dish.id)">
                                    Удалить
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="mode">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    {{mode === 'edit' ? 'Изменить' : 'Добавить'}} блюдо
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Название</label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       id="name"
                                       placeholder="Название"
                                       ng-model="editedDish.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-sm-2 control-label">Стоимость</label>
                            <div class="col-sm-10">
                                <input type="number"
                                       step="0.01"
                                       class="form-control"
                                       id="price"
                                       placeholder="Стоимость"
                                       ng-model="editedDish.price">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="role" class="col-sm-2 control-label">Тип</label>
                            <div class="col-sm-10">
                                <div class="btn-group" id="role">
                                    <label class="btn btn-primary" ng-model="editedDish.type" uib-btn-radio="'drink'">Напиток</label>
                                    <label class="btn btn-primary" ng-model="editedDish.type" uib-btn-radio="'food'">Блюдо</label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Ингредиенты
                        </div>
                        <div class="panel-body">
                            <div class="row col-md-10 text-center" ng-show="editedDish.ingredients.length">
                                <table class="table table-bordered table-striped ">
                                    <tr>
                                        <th>Название</th>
                                        <th>Количество</th>
                                        <th>Удалить</th>
                                    </tr>
                                    <tr ng-repeat="ingredient in editedDish.ingredients | orderBy:'-name':true track by $index ">
                                        <td>
                                            {{ingredient.name}}
                                        </td>
                                        <td>
                                            {{ingredient.amount}} ({{ingredient.measurement}})
                                        </td>
                                        <td>
                                            <button class="btn btn-default"
                                                    ng-click="removeIngredient(ingredient);">
                                                Удалить
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="row col-md-10">
                                <button class="btn btn-success pull-right"
                                        ng-click="addingProcess = true;"
                                        ng-show="!addingProcess">
                                    Добавить ингредиент
                                </button>
                            </div><br>
                            <div ng-show="addingProcess">
                                <form class="form-horizontal" ng-submit="addNewIngredient()">
                                    <div class="form-group">
                                        <label for="newIngredientName" class="col-sm-2 control-label">Название</label>
                                        <div class="col-sm-10">
                                            <select class="form-control"
                                                    id="newIngredientName"
                                                    placeholder="Название"
                                                    ng-model="newIngredient.ingredient"
                                                    ng-change="changedIngredient()"
                                                    ng-options="ingredient as ingredient.name for ingredient in ingredients | orderBy:'name' track by ingredient.id">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="newIngredientAmount" class="col-sm-2 control-label">Количество</label>
                                        <div class="col-sm-7 col-md-7">
                                            <input type="number"
                                                   placeholder="Количество"
                                                   step="0.01"
                                                   class="form-control"
                                                   id="newIngredientAmount"
                                                   ng-model="newIngredient.amount"/>
                                        </div>
                                        <div>{{ingredientMeasurement}}</div>
                                    </div>
                                    <div class="form-group pull-right">
                                        <button type="submit" class="btn btn-primary" ng-click="addIngredient();addingProcess = false;" >Подтвердить</button>
                                        <button type="button" class="btn btn-default" ng-click="addingProcess = false;">Отмена</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-primary"
                                ng-click="mode === 'edit' ? editDish() : addDish()">
                            {{mode === 'edit' ? 'Изменить' : 'Добавить'}}
                        </button>
                        <button class="btn btn-default" ng-click="clearEditDish()">
                            Отменить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>